<h1><small>Login</small></h1>
<%= form_for :user, :url => user_session_path, :html => { :class => "custom nice" } do |f| %>
	<%= f.text_field :email, :placeholder => "Email", :class => "input-text" %>
  <%= f.password_field :password, :placeholder => "Password", :class => "input-text" %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me, "Recuerda mis datos", :class => "inline" %>
	<div class="actions">
	  <%= f.submit 'Login', :class => "nice small radius blue button" %>
	</div>
	<%= link_to "¿Olvidaste tu contraseña?", new_password_path('user') %>
<% end %>